Library
Temp
obj
builds
Assets/UnityVS
Assets/UnityVS.meta
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset

*.unityproj
*.userprefs
*.sln
*.sln.DotSettings
*.csproj
*.suo
.DS_Store
.mayaSwatches
/fmod_editor.log
/fmod.log
